<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css')}}"/>
    <title>CompsciWorld</title>
</head>
<body>
     <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/news">News</a>
        <a href="/blogs">Blogs</a>
        <a href="/contact">Contact</a>
    </div>
    <h1 style="Courier New">About</h1>
    <div class="computers">
        <img src="{{url_for('static', filename='computer.png')}}" alt="computer"/>
    </div>
    <div class="descrip">
        <p>Hi! Welcome to CompsciWorld! The place to find out about all sorts of topics within computer science and gain insights into them!</p>
        <p>This will go from me writing my views and opinions on the latest tech news to writing articles on computer science topics to help you learn about them! </p>
    </div>
    <div class="who">
        <h1>Who am I</h1>
    </div>
</body>
</html>